@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;
}

.login-form {
  width: 100%;
}

.login-form-title {
  display: block;
  font-size: 30px;
  color: rgb(90, 184, 228);
  line-height: 3;
  text-align: center;
}

.login-form-title img {
  width: 700px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #54bce6;
  margin-bottom: 37px;
}

.input {
  font-size: 15px;
  color: rgb(10, 10, 10);
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #080808;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #2e98df;
  background: -webkit-linear-gradient(to left, #111213, #0d0d0e);
  background: -o-linear-gradient(to left, #0c0c0c, #141314);
  background: -moz-linear-gradient(to left, #101111, #e7e4e9);
  background: linear-gradient(to left, #21d4fd, #4d72eb);
}

.focus-input::after {
  font-size: 15px;
  color: #757373;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus {
  outline: 0;
}

.input:focus+.focus-input::after {
  top: -15px;
}

.input:focus+.focus-input::before {
  width: 100%;
}

.has-val+.focus-input::after {
  top: -15px;
}

.has-val+.focus-input::before {
  width: 100%;
}

.container-login-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 13px;
}

.login-form-btn {
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: rgb(253, 253, 253);
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #0a0a0a;
  background: -webkit-linear-gradient(to left, #21d4fd, #dadee2);
  background: -o-linear-gradient(to left, #21d4fd, #f1f4f7);
  background: -moz-linear-gradient(to left, #21d4fd, #e4e8ec);
  background: linear-gradient(to left, #21d4fd, #2f87eb);
}

.login-form-btn:hover {
  cursor: pointer;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.txt1 {
  font-size: 14px;
  color: #1b1a1a;
  line-height: 1.5;
  padding-right: 5px;
}

.txt2 {
  font-size: 14px;
  color: #378fe2;
  line-height: 1.5;
  text-decoration: none;
}
